.workbench {
  position: absolute;
  z-index: 20;
  top: var(--workbench-top);
  right: var(--sidebar1-w);
  bottom: var(--status-h);
  left: calc(var(--activity-w) + var(--sidebar-w));
  min-width: 0;
  display: grid;
  grid-template-rows: minmax(0, 1fr) var(--terminal-h);
  overflow: hidden;
  background: #fcfcfe;
}
.workbench.panel-collapsed {
  grid-template-rows: minmax(0, 1fr);
}
