@layer components {
  .bottom-panel__view { width: 100%; height: 100%; padding: 10px 13px; overflow: auto; color: #6f6f75; font-size: 12px; }
  .bottom-panel__view--terminal { padding: 0; color: var(--color-text); }
}
